<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel = "stylesheet" type = "text/css" href="bootstrapcss/automatedsqaures.css">
        <link rel="stylesheet" type="text/css" href="bootstrapcss/bootstrap.min.css">
        <script type="text/javascript" src="shuffle.js"></script>
        <script type="text/javascript" src="entryblank.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    </head>
    <title>Squares Pool Creator</title>
    <body>
        <div ng-app="myApp">
            <div ng-init="entry">
                <p>names: {{names}}</p>
                <div ng-repeat="(i, name) in names track by $index">
                    <input ng-model="names[i]">
                </div>
            </div>
        </div>
    </body>
</html>

